.error {
  color: red;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

form {
  height: 100vh;
  padding-top: 50px;
  width: 95%;
  /* background-color: yellow; */
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.registerInputLabel {
  color: black;
  font-weight: 700;
  margin-left: 5px;
  font-size: 18px;
  margin-top: 20px;
}

.input-error,
.registerInputs {
  border: 2px solid grey;
  background-color: rgb(230, 229, 229);
  height: 40px;
  border-radius: 10px;
}

.registerInputs::placeholder {
  color: grey;
  padding-left: 10px;
}

.registerSubmitBut {
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: teal;
  height: 42px;
  margin-top: 20px;
  font-size: 18px;
}

.orLogin {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;

}

.toLoginBut {
  width: 95%;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: teal;
  height: 42px;
  margin-top: 20px;
  font-size: 18px;


}