.userInfo {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rightBarInfoContainer {
  margin-bottom: 30px;

  .ppUserInfoItemCon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;

    .ppInfoIcon {
      color: grey;
    }
    .ppUserInfoItemTxt {
      font-weight: 500;
      color: rgb(51, 50, 50);
    }
    .boldSpan {
      font-weight: 600;
      color: rgb(27, 27, 27);
      font-size: 18px;
    }
  }
}
// Followers
.followerHeading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

// Following
.followingHeading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 10px;
}
