.topbarContainer {
  height: 56px;
  display: flex;
  align-items: center;

  background-color: #242526;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0px 20px;

  .topbarLeft {
    flex: 2.8;
    display: flex;
    align-items: center;

    .facebookLogo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .topbarLeft__search {
      width: 232px;
      height: 40px;
      background-color: #3a3b3c;
      border-radius: 20px;
      display: flex;
      align-items: center;
      margin-left: 10px;

      .topSearchInputIcon {
        color: rgb(173, 171, 171);
        margin-left: 8px;
      }

      .topSearchInput {
        width: 84%;
        height: 100%;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        color: rgb(240, 236, 236);

        &::placeholder {
          color: rgb(173, 171, 171);
          padding-left: 5px;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }

  .logOut {
    margin-right: 20px;
    cursor: pointer;
  }

  // Top Center
  .topbarCenter {
    flex: 5.5;
    display: flex;
    align-items: center;
    color: rgb(192, 191, 191);
    justify-content: center;
    gap: 25px;

    .IconCon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 48px;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background-color: #3a3b3c;
      }
    }
  }

  // Top Right
  .topbarRight {
    flex: 3.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: yellow;

    .trProfileCon {
      display: flex;
      align-items: center;
      height: 36px;
      width: 120px;
      border-radius: 20px;
      cursor: pointer;
      margin-left: 100px;

      .link {
        display: flex;
        align-items: center;

        .trProfileImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 0px;
          overflow: hidden;
        }
        .trProfileName {
          color: rgb(232, 229, 229);
          margin-left: 5px;
          font-size: 14px;
          margin-right: 2px;
        }
      }
      &:hover {
        background-color: #3a3b3c;
      }
    }
    .trIconCon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(173, 171, 171);

      &:hover {
        background-color: #3a3b3c;
        color: rgb(220, 217, 217);
      }
    }

    .trIconActive {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgb(173, 171, 171);
      background-color: #3a3b3c;
    }
  }
}

.settingContainerWrapper {
  display: flex;
  margin-left: 72%;
  margin-top: 5px;
  z-index: 999;
}
