.profile {
  display: flex;
  background-color: #18191a;
  overflow-x: hidden;
  height: 1000vh;
  margin-right: 10px;
  margin-top: -10px;

  .profileRight {
    position: relative;

    .profileRightTop {
      margin-top: 20px;
      .profileContainer {
        height: 320px;
        position: relative;

        .coverPicture {
          height: 250px;
          object-fit: cover;
          width: 1000px;
          border-top: 1px solid grey;
          border-radius: 10px 10px 0px 0px;
        }

        .profilePicture {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
          left: 400px;
          right: 0;
          margin: auto;
          top: 150px;
          border: 3px solid #fff;
          overflow: hidden;
        }

        .ButtonCon {
          display: flex;
          gap: 20px;
          margin-left: 700px;

          .followButton {
            height: 40px;
            width: 100px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;

            margin-top: 10px;
            background-color: #000000;
            color: white;

            &:hover {
              background-color: #3a3b3c;
            }
          }

          .followingButton {
            height: 40px;
            width: 100px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            background-color: #000000;
            color: white;

            &:hover {
              background-color: #3a3b3c;
            }
          }
        }
      }
    }

    .profileInfo {
      display: flex;
      margin-top: -70px;
      background-color: rgb(75, 71, 72);
      height: 180px;
      width: 1000px;

      .profileInfoContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .profileInfoName {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: -20px;
      }

      .profileDescription {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }

    .profileEditBut {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      height: 40px;
      background-color: #3a3b3c;
      border-radius: 6px;
      width: 130px;
      gap: 2px;
      color: rgb(179, 177, 177);
      margin-left: 850px !important;
      margin-top: -60px;

      &:hover {
        background-color: #4f4f4f;
        color: rgb(206, 205, 205);
      }

      .editProfileTxt {
        font-size: 600;
        font-size: 16px;
      }
    }

    .profileRightBottom {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 430px;

      .yourTotalPostsCon {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -20px;
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 10px !important;
      }

      .profileRightBottomUserPostsWrapper {
        display: flex;
        position: absolute;
        top: 50px;

        .profileRightBottomUserPosts {
          padding-right: 10px;
          width: 800px;
          padding-left: 20px;
        }
        .profileRightWrapper {
          padding-left: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .profile {
    .profileLeftWrapper {
      width: 300px;
      margin-right: 20px;
      margin-left: 100px;
    }
    .profileRight {
      padding-right: 20px;
      width: 300px;

      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 1000px !important;
          }
          .ButtonCon {
            gap: 5px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        .followersFollowingCount {
          position: absolute;
          left: 50px;
          // background-color: green;
          display: flex;
          font-size: 28px;
          font-weight: 600;
          color: white;
          gap: 10px;
          .followersCount {
            display: flex;
            flex-direction: column;
          }
        }
        .profileInfoContainer {
          position: absolute;
          top: 350px;
          left: 250px;
          width: 500px;
        }
      }

      .profileEditBut {
        width: 120px !important;
        font-size: 13px;
        margin-left: 600px !important;
      }

      .profileRightBottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 930px;
        margin-right: 20px;

        .yourTotalPostsCon {
          margin-top: 60px;
          margin-bottom: 40px;
          // margin-left: -500px;
          font-size: 28px;
          color: white;
        }

        .profileRightBottomUserPostsWrapper {
          position: absolute;
          top: 100px;
          left: 0px;

          .profileRightBottomUserPosts {
            padding-right: 10px;
            width: 800px;
            // background-color: red;
            padding-left: 0px;
          }
          .profileRightWrapper {
            padding-left: 7px;
            // background-color: red;
            width: 320px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1585px) {
  .profile {
    .profileLeftWrapper {
      margin-left: 50px;
    }
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 700px;
          }
          .profileRightWrapper {
            width: 320px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .profile {
    .profileLeftWrapper {
      margin-left: 10px;
    }
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 600px;
          }
          .profileRightWrapper {
            width: 320px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 950px !important;
          }
          .profilePicture {
            margin-left: -100px;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -420px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 950px;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 250px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 200px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 850px !important; //
          }
          .profilePicture {
            margin-left: -100px;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -420px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 850px;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 250px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 200px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;

        .profileRightBottomUserPostsWrapper {
          // width: 850px !important;

          .profileRightBottomUserPosts {
            width: 850px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1210px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 780px !important;
          }
          .profilePicture {
            margin-left: -100px;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -420px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 780px;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 250px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 200px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 780px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 700px !important;
          }
          .profilePicture {
            margin-left: -100px;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -420px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 700px;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 250px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 200px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 700px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1045px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 600px !important;
          }
          .profilePicture {
            margin-left: -200px;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -520px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 13px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 600px;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 150px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 70px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;

        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 600px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .profileRightWrapper {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .profile {
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 450px !important;
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 465px) {
//   .profile {
//     .profileRight {
//       .profileRightBottom {
//         .profileRightBottomUserPostsWrapper {
//           .profileRightBottomUserPosts {
//             width: 300px !important;
//           }
//         }
//       }
//     }
//   }
// }

@media only screen and (max-width: 435px) {
  .profile {
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 400px !important;
            margin-left: -30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 965px) {
  .profile {
    .profileLeftWrapper {
      display: none;
    }
    .profileRight {
      margin-left: 100px;
    }
  }
}

@media only screen and (max-width: 780px) {
  .profile {
    .profileRight {
      margin-left: 5px !important;
    }
  }
}

@media only screen and (max-width: 780px) {
  .profile {
    .profileRight {
      margin-left: 40px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .coverPicture {
            width: 500px !important;
          }
          .profilePicture {
            margin-left: -250px;
          }

          .ButtonCon {
            position: absolute;
            left: -580px;
            top: 520px;
          }
        }
      }
      .profileInfo {
        width: 500px !important;

        .followersFollowingCount {
          left: 90px;
        }
        .profileInfoContainer {
          left: 10px;
        }
      }

      .profileRightBottom {
        margin-top: 120px;

        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 500px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .profilePicture {
            margin-left: -300px;
          }
          .coverPicture {
            width: 450px !important;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -630px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 16px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 450px !important;
        height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 40px;
        }
        .profileInfoContainer {
          position: absolute;
          left: -40px;
          .profileInfoName {
            font-size: 26px !important;
          }
        }
      }

      .profileRightBottom {
        margin-top: 120px;
        width: 400px !important;
        .yourTotalPostsCon {
          .yourTotalPosts {
            font-size: 22px;
          }
        }

        .profileRightBottomUserPostsWrapper {
          width: 460px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .profile {
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .profilePicture {
            margin-left: -300px;
          }
          .coverPicture {
            width: 400px !important;
          }
          .ButtonCon {
            gap: 5px;
            position: absolute;
            left: -630px;
            top: 500px;

            .followButton,
            .followingButton {
              font-size: 16px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 400px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 40px;
        }
        .profileInfoContainer {
          position: absolute;
          left: -40px;
          .profileInfoName {
            font-size: 26px !important;
          }
        }
      }

      .profileRightBottom {
        // margin-top: 120px;
        // width: 400px !important;
        .yourTotalPostsCon {
          .yourTotalPosts {
            font-size: 22px;
          }
        }
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 450px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 465px) {
  .profile {
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          .profileRightBottomUserPosts {
            width: 430px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .profile {
    width: 600px;
    .profileRight {
      .profileRightTop {
        .profileContainer {
          .profilePicture {
            margin-left: -200px;
          }
          .coverPicture {
            width: 580px !important;
          }
          .ButtonCon {
            left: -530px;

            .followButton,
            .followingButton {
              font-size: 16px;
              padding: 0px 20px;
            }
          }
        }
      }

      .profileInfo {
        width: 580px !important;
        // height: 350px !important;

        .followersFollowingCount {
          position: absolute;
          top: 420px;
          left: 140px;
        }
        .profileInfoContainer {
          position: absolute;
          left: 60px;
          .profileInfoName {
            font-size: 34px !important;
          }
        }
      }

      .profileRightBottom {
        margin-top: 120px;
        width: 400px !important;
        .yourTotalPostsCon {
          .yourTotalPosts {
            font-size: 22px;
          }
        }

        .profileRightBottomUserPostsWrapper {
          width: 600px !important;
          .profileRightBottomUserPosts {
            width: 570px !important;
            margin-left: -13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 365px) {
  .profile {
    width: 600px;
    .profileRight {
      .profileRightBottom {
        margin-top: 120px;
        width: 400px !important;
        .yourTotalPostsCon {
          .yourTotalPosts {
            font-size: 22px;
          }
        }

        .profileRightBottomUserPostsWrapper {
          width: 600px !important;
          .profileRightBottomUserPosts {
            width: 570px !important;
            margin-left: -13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .profile {
    .profileRight {
      .profileRightBottom {
        .profileRightBottomUserPostsWrapper {
          // width:50px !important;
          .profileRightBottomUserPosts {
            // background-color: red;
            width: 700px !important;
            margin-left: 50px;
          }
        }
      }
    }
  }
}
