.settingContainer {
  height: 250px;
  width: 380px;
  background-color: #242526;
  border-radius: 4px;
  color: rgb(214, 209, 209);
  padding: 10px;
  border: 1px solid rgb(62, 62, 62);

  .scProfile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    margin: 5px;
    height: 68px;
    border-radius: 5px;

    .scProfileImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 14px;
    }
    .scProfileName {
      display: flex;
      flex-direction: column;

      .scUserName {
        font-size: 18px;
        font-weight: 600;
      }
      .scSeeProfileTxt {
        font-size: 14px;
      }
    }

    &:hover {
      background-color: #3a3b3c;
    }
  }

  .scEdit {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    width: 96%;
    height: 54px;
    border-radius: 5px;
    padding-left: 15px;
    cursor: pointer;

    &:hover {
      background-color: #3a3b3c;
    }

    .scIconCon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #252526;
    }
  }

  .sc1 {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: grey;
  }
}
