.userSettingInfoCon {
  background-color: #242526;
  display: flex;
  color: rgb(197, 195, 195);
  height: 500vh;
  margin-top: -10px;

  .usiLeft {
    flex: 2;
  }
  .useRight {
    flex: 8;
    background-color: #000000;

    .profileCoverPicDiv {
      display: flex;
      flex-direction: column;
      align-items: center;

      .uploadPP {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .profileDiv {
        display: flex;
        align-items: center;
        gap: 10px;

        .uploadProfilePic {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #2b2a2a;
          object-fit: cover;
        }
        .ppIcon {
          font-size: 45px;
          cursor: pointer;
        }
      }
      .profilePicChange {
        height: 35px;
        border: none;
        outline: none;
        background-color: #3d3d3d;
        color: white;
        font-size: 22px;
        border-radius: 7px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          background-color: #2b2a2a;
          color: #ffffff;
          transition: all 0.2s ease-in-out;
        }
      }
      .ppsuccess{
        color:white;
        padding: 10px;
        background-color: green;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: -20px;
        
      }
      .uploadcP {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .coverDiv {
        display: flex;
        align-items: center;
        gap: 10px;

        .uploadCoverPic {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #2b2a2a;
          object-fit: cover;
        }
        .cpIcon {
          font-size: 45px;
          cursor: pointer;
        }
      }
      .coverPicChange {
        height: 35px;
        border: none;
        outline: none;
        background-color: #3d3d3d;
        color: white;
        font-size: 22px;
        border-radius: 7px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          background-color: #2b2a2a;
          color: #ffffff;
          transition: all 0.2s ease-in-out;
        }
      }
      .cpsuccess{
        color:white;
        padding: 10px;
        background-color: green;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: -20px;
        
      }
    }

    .userCredentialEditConHidden {
      display: hidden;
    }
    .userCredentialEditCon {
      background-color: #000000;
      height: 450px;
      width: 70%;
      margin-left: 15%;
      margin-top: 60px;

      .usiRow1 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .usiTitle {
          font-size: 22px;
          font-weight: 600;
        }

        .usiEditBut {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .suiHr1 {
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .suiHr2 {
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        height: 1px;
        background-color: #333;
      }
      .usiItemCon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 50px;
        background-color: #242526;
        height: 50px;

        .usiItemTitle {
          font-size: 18px;
          color: white;
        }
      }
    }

    // User Credential Edit Mode Container
    .userCredentialEditForm {
      .userCredentialEditModeCon {
        background-color: #000000;
        height: 500px;
        width: 55.6%;
        margin-left: 15%;
        position: absolute;
        top: 550px;
        z-index: 100;
        right: 200px;

        .ucemcRow1 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .ucemcTitle {
            font-size: 22px;
            font-weight: 600;
          }

          .ucemcCancelBut {
            height: 40px;
            width: 100px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        .ucemcHr1 {
          margin-top: 10px;
          margin-bottom: 30px;
        }
        .ucemcHr2 {
          margin-top: 30px;
          margin-bottom: 30px;
          border: none;
          height: 1px;
        }
        .ucemcSaveBut {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
          margin-left: 87%;
        }
        .ucemcItemCon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 50px;
          background-color: #242526;
          height: 50px;

          .ucemcItemTitle {
            font-size: 18px;
            color: white;
          }
          .ucemcItemTitleValueInput {
            height: 35px;
            width: 250px;
            outline: none;
            padding-left: 10px;
            border: none;
            font-size: 16px;

            &::placeholder {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .userSettingInfoCon {
    .usiLeft {
      display: none;
    }
    .useRight {
      .userCredentialEditForm {
        .userCredentialEditModeCon {
          width: 70%;
          padding-left: 15%;
          position: absolute;
          right: 15%;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .userSettingInfoCon {
    .useRight {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .userSettingInfoCon {
    .useRight {
      .userCredentialEditForm {
        .userCredentialEditModeCon {
          width: 90%;
          padding-left: 15%;
          position: absolute;
          right: 5%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .userSettingInfoCon {
    .useRight {
      .userCredentialEditForm {
        .userCredentialEditModeCon {
          width: 100%;
          padding-left: 15%;
          position: absolute;
          right: -7%;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .userSettingInfoCon {
    .useRight {
      padding-left: 80px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .userSettingInfoCon {
    .useRight {
      .userCredentialEditForm {
        .userCredentialEditModeCon {
          .ucemcItemCon {
            .ucemcItemTitle {
              font-size: 18px;
              color: white;
              margin-left: -40px;
            }
            .ucemcItemTitleValueInput {
              width: 200px;
              margin-right: -40px;
            }
          }
        }
      }
    }
  }
}
