.post {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0px;
  background-color: #242526;
  color: rgb(201, 199, 199);
  height: 400px !important;
  padding-bottom: 20px !important;

  .postWrapper {
    padding: 10px;

    .postTop {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .postTopLeft {
        display: flex;
        align-items: center;

        .postProfileImg {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .postUsername {
          font-size: 15px;
          font-weight: 500;
          margin: 0px 10px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .postDate {
          font-size: 10px;
        }
      }
      .postTopRight {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(201, 196, 196);
        cursor: pointer;

        &:hover {
          background-color: #3a3b3c;
          color: rgb(241, 236, 236);
        }
      }
    }

    .deleteEditConWrapper {
      margin-top: 10px;
      margin-left: 50%;
    }

    .postCenter {
      margin: 20px 0px;
      max-height: 280px !important;

      .postImg {
        margin-top: 20px !important;
        height: 240px !important;
        object-fit: cover;
        overflow: hidden;
      }

      
    }

    .postBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .postBottomLeft {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        .likeIcon {
          width: 24px;
          height: 24px;
          margin-right: 5px;
          cursor: pointer;
        }

        .postLikeCounter {
          font-size: 15px;
        }
      }
      .postDeleteBut {
        width: 90px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        background-color: #3a3b3c;
        border: none;
        outline: none;
        color: rgb(241, 236, 236);
        font-size: 16px;

        &:hover {
          background-color: #000000;
          color: rgb(241, 236, 236);
          transition: all 0.3s ease-in;
        }
      }

      .postBottomRight {
        .postCommentText {
          font-size: 15px;
          cursor: pointer;
          border-bottom: 1px dashed grey;
        }
      }
      .bookmark {
        width: 90px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
        background-color: #3a3b3c;
        border: none;
        outline: none;
        color: rgb(241, 236, 236);
        font-size: 16px;

        &:hover {
          background-color: #000000;
          color: rgb(241, 236, 236);
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}

@media only screen and (max-width: 490px) {
  .post {
    .postWrapper {
      .postBottom {
        .postDeleteBut {
          position: absolute;
          left: 350px;
          margin-top: -140px;
        }

        .bookmark {
          position: absolute;
          left: 350px;
          margin-top: -60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 465px) {
  .post {
    .postWrapper {
      .postBottom {
        .postDeleteBut {
          left: 330px;
        }

        .bookmark {
          left: 330px;
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  .post {
    .postWrapper {
      .postBottom {
        .postDeleteBut {
          left: 290px;
        }

        .bookmark {
          left: 290px;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .post {
    .postWrapper {
      .postBottom {
        .postDeleteBut {
          left: 370px;
        }

        .bookmark {
          left: 370px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .post {
    width: 470px;

    .postWrapper {
      .postBottom {
        .postDeleteBut {
          left: 380px;
        }

        .bookmark {
          left: 380px;
        }
      }
    }
  }
}
