.rightBar {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: fixed;
  top: 45px;

  .rightBarWrapper {
    padding: 20px 20px 0px 0px;

    .rightBarAd {
      width: 100%;
      border-radius: 10px;
      margin: 20px 0px;
    }

    .rightBarTitle {
      margin-bottom: 20px;
    }
    .rightBarFriendList {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
